footer#site-footer

  section(id="more" class="mix-section more inverted") 
      header 
        h2 See More Projects
      div
        p(data-height="330" data-theme-id="dark" data-slug-hash="QZzrrB" data-default-tab="html,result" data-user="Mickel" data-pen-title="FREECODECAMP exersize: Build a Product Landing Page" data-preview="true" class="codepen") See the Pen 
          a(href="https://codepen.io/Mickel/pen/QZzrrB/") FREECODECAMP exersize: Build a Product Landing Page 
          |  by Mickel (
          a(href="https://codepen.io/Mickel") @Mickel
          | ) on 
          a(href="https://codepen.io") CodePen
          | .
        p(data-height="330" data-theme-id="dark" data-slug-hash="zMBYRv" data-default-tab="html,result" data-user="Mickel" data-pen-title="FREECODECAMP exersize: Build a Technical Documentation Page" data-preview="true" class="codepen") See the Pen 
          a(href="https://codepen.io/Mickel/pen/zMBYRv/") FREECODECAMP exersize: Build a Technical Documentation Page 
          |  by Mickel (
          a(href="https://codepen.io/Mickel") @Mickel
          | ) on 
          a(href="https://codepen.io") CodePen
          | .

  section(id="social-media" class="mix-section social-media")
    div
      ul
        li
          a.btn-circle(href="https://twitter.com/mickelmetekohy") 
          span.sr-only Twitter
        li
          a.btn-circle(href="https://github.com/MickelMetekohy")
          span.sr-only Github
        li
          a.btn-circle(href="https://www.linkedin.com/in/mickel-metekohy-31105865") 
          span.sr-only LinkedIn
        li
          a.btn-circle(href="https://www.freecodecamp.org/mickelmetekohy") 
          span.sr-only FreeCodeCamp
  section(id="copy" class="mix-section copy")
    div
      p #FreeCodeCamp Exersize: Build a Technical Documentation Page.