//- mix-section.pug
//- SECTION
//- param 1: string of space seperated class names
//- param 2: string with ID
//- content: block
//- +section('classNames', 'ID')
//-   block
mixin section(classes, id)
  section(id=id class="mix-section " + classes)
    block